
	<div ng-controller="userinfo">		
			<aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        User List
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#home"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="active">User List</li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content">
					
                    		<div class="box box-primary">
                                <div class="box-header">
                                    <div class="box-tools pull-right">
                                        <button class="btn btn-default pull-right" data-toggle="modal" data-target="#addUser"><i class="fa fa-plus"></i> User List</button>
                                    </div>
                                </div><!-- /.box-header -->
                                <div class="box-body" ng-init="ItInfraUsers()">
									<!-- <table id="userlist" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>Rendering engine</th>
                                                <th>Browser</th>
                                                <th>Platform(s)</th>
                                                <th>Engine version</th>
                                                <th>CSS grade</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Trident</td>
                                                <td>Internet
                                                    Explorer 4.0</td>
                                                <td>Win 95+</td>
                                                <td> 4</td>
                                                <td>X</td>
                                            </tr>
                                            <tr>
                                                <td>Trident</td>
                                                <td>Internet
                                                    Explorer 5.0</td>
                                                <td>Win 95+</td>
                                                <td>5</td>
                                                <td>C</td>
                                            </tr>
                                            <tr>
                                                <td>Trident</td>
                                                <td>Internet
                                                    Explorer 5.5</td>
                                                <td>Win 95+</td>
                                                <td>5.5</td>
                                                <td>A</td>
                                            </tr>
                                            <tr>
                                                <td>Trident</td>
                                                <td>Internet
                                                    Explorer 6</td>
                                                <td>Win 98+</td>
                                                <td>6</td>
                                                <td>A</td>
                                            </tr>
                                            <tr>
                                                <td>Trident</td>
                                                <td>Internet Explorer 7</td>
                                                <td>Win XP SP2+</td>
                                                <td>7</td>
                                                <td>A</td>
                                            </tr>
                                            <tr>
                                                <td>Trident</td>
                                                <td>AOL browser (AOL desktop)</td>
                                                <td>Win XP</td>
                                                <td>6</td>
                                                <td>A</td>
                                            </tr>
										</tbody>
									</table>		 -->
                                    <table class="table table-striped" id="userdata">
										<thead>
											<tr>
												<th>S.No</th>
												<th>User Name</th>
												<th>E-mail</th>
												<th>User Phone</th>
												<th>Delete</th>
											</tr>	
										</thead>
										<tbody>
											<tr ng-repeat="x in userList" repeat-done="initDataTable">
												<td>{{$index+1}}</td>
												<td>{{x.username}}</td>
												<td>{{x.useremail}}</td>
												<td>{{x.userphone}}</td>
												<td ng-if="x.usertype!=1"><a href="" data-toggle="modal" data-target="#addUser"  class="text-info" ng-click="edituser(x.userid)"><i class="fa fa-edit"></i></a></td>
											</tr>	
										</tbody>
									</table>
                                </div><!-- /.box-body -->

                            </div>
		

                </section>
            </aside>


        <!-- add new calendar event modal -->
<div class="modal fade" id="addUser" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Stock</h4>
        </div>
        <div class="modal-body">
          <form ng-submit="addUser(user)" method="post" name="frmDefault">
			<div class="form-group" ng-init="CampusMaster()">
				<label>Select Campus : {{user.campusid}}</label>
				<select multiple ng-model="user.campusid" class="form-control" required>  
					  <option value="">Select Campus</option>  
					  <option ng-repeat="x in campuslist" value="{{x.id}}">{{x.campusName}}</option>  
				 </select>
			</div>
			<div class="form-group" ng-init="userPermissions()">
				<label>User Role</label>
				<select ng-model="user.userLevel" class="form-control" required>  
					<option value="">Select Permission</option>  
					<option ng-repeat="x in userpermission" value="{{x.permlevel}}">{{x.permlevel}}</option>  
			   	</select>
			</div>
			<div class="form-group">
				<label>User Name</label>
				<input type="text" ng-model="user.username" class="form-control" placeholder="User Name" required/>
			</div>
			<div class="form-group">
				<label>User Email</label>
				<input type="email" ng-model="user.useremail" class="form-control" placeholder="User Email" required/>
			</div>
			<div class="form-group">
				<label>User Phone</label>
				<input type="text" ng-model="user.userphone" class="form-control" placeholder="User Phone" required/>
			</div>
			<div class="form-group">
				<label>User Password</label>
				<input type="text" ng-model="user.userpwd" class="form-control" placeholder="User Password" required/>
			</div>
			<!--<div class="form-group" ng-init="user.status=1">
				<label>User Status</label>
				<select ng-model="user.status" name="status" class="form-control" required>  
					<option value="">Select Status</option>  
					<option value="1">Working</option> 
					<option value="0">Resign</option> 
			   	</select>

			</div>-->

			<div class="footer">                                                               
				<button type="submit" class="btn bg-olive btn-block">Submit</button>  
			</div>
		</form>
        </div>
        
      </div>
      
    </div>
  </div>
  
 </div> 
  