
   <div ng-app="stock" ng-controller="shippinginfo">
        <!-- header logo: style can be found in header.less -->



			
			<aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        Items List - {{adidwiselist[0].campusname}}
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="active">Items List</li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content">
					
							<div class="box box-primary">
									<div class="box-header">
									<div class="box-tools pull-right">
                                        <a href="#/inwardlist" ng-if="adidwiselist[0].shipmentType=='Inward'" class="btn btn-primary btn-sm" style="color:#FFFFFF"><i class="fa fa-angle-double-left"></i> Back</a>
		    <a href="#/trackshipment" ng-if="adidwiselist[0].shipmentType=='Outward'" class="btn btn-primary btn-sm" style="color:#FFFFFF"><i class="fa fa-angle-double-left"></i> Back</a>
                                    </div>
                                </div><!-- /.box-header -->
                                <div class="box-body" ng-init="adshipidWise()">
									
									<!--{{finalsplist | json}}-->
										
									<table class="table table-bordered">
											<thead>
											  <tr>
												<th>#</th>
												<th>Date</th>
												<th>Item Group</th>
												<th>Item Name</th>
												<th>Qunatity</th>
											  </tr>
											</thead>
											<tbody>
											  <tr ng-repeat="item in adidwiselist">
												<td>{{$index+1}}</td>
												<td>{{examdatechange(item.currentdate) | date : 'dd-MM-y'}}</td>
												<td>{{item.itemgroup}}</td>
												<td>{{item.itemname}}</td>
												<td>{{item.quantity}}</td>
											  </tr>
											</tbody>
										  </table>
									
									<div style="clear:both"></div>
                                </div><!-- /.box-body -->

                            </div>
		

                </section>
            </aside>
                    
                     
						
            
          
        </div><!-- ./wrapper -->

