<style>
	.text-white {color: #ffffff !important;}
</style>
   
   <div ng-app="stock" ng-controller="shippinginfo">
        <!-- header logo: style can be found in header.less -->



			
			<aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        Track Shipment
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="active">Track Shipment</li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content">
					
                    	<div class="box box-primary" ng-if="printMode==false">
							<h4 class="visible-print">Date : {{examdatechange(currentDate) | date : 'dd-MM-y'}}</h4>
							<div class="box-header hidden-print">
								<div class="box-tools pull-left">
									<h4 style="padding-left:10px ;">
										<b>{{titleName}}</b>
									</h4>
								</div>
									<div class="box-tools pull-right" ng-init="Allottids()">
                                        <a href="#/bookshipment" ng-class="(titleName === 'New') ? 'btn btn-sm btn-primary text-white' : 'btn btn-default btn-sm'"><b>New</b></a>
										<a href="" ng-click="shippinglist(0, 'All')" ng-class="(titleName === 'All') ? 'btn btn-sm btn-primary text-white' : 'btn btn-default btn-sm'"><b>All</b></a>
										<a href="" ng-click="shippinglist(0, 'In Transit')" ng-class="(titleName === 'In Transit') ? 'btn btn-sm btn-primary text-white' : 'btn btn-default btn-sm'"><b>In Transit</b></a>
										<a href="" ng-click="shippinglist(1, 'Received')" ng-class="(titleName === 'Received') ? 'btn btn-sm btn-primary text-white' : 'btn btn-default btn-sm'"><b>Received</b></a>

                                    </div>
                                </div><!-- /.box-header -->
                                <div class="box-body" ng-init="shippinglist(0, 'In Transit')">
									
									<!--{{finalsplist | json}}-->
										<table class="table table-bordered" id="inoutdata">
											<thead>
											  <tr>
												<th>#</th>
												<th>Shipment Id</th>
												<th>Date</th>
												<th>Campus Name</th>
												<th>Items</th>
												<th>Quantity</th>
												<th>Courier</th>
												
												<!-- <th width="120">Update Ref.No</th>
												
												<th>Status</th> -->
												<th class="hidden-print">Print</th>
												<th class="hidden-print">WhatsApp</th>
											  </tr>
											</thead>
											<tbody>
												<tr ng-if="finalsplist.length==0">
													<td colspan="9" class="text-danger" align="center"><b>No Data Found</b></td>
												</tr>
											  <tr ng-repeat="item in finalsplist | orderBy : '-Shipmentid'">
												<td>{{$index+1}}</td>
												<td>{{item.Shipmentid}}</td>
												<td>{{examdatechange(item.CurrentDate) | date : 'dd-MM-y'}}</td>
												<td>{{item.Branch}}</td>
												<td>
													<ul style="list-style-type: none; padding:0; margin:0">
														<li ng-repeat="s in item.items">{{s.itemname}} <strong class="pull-right">{{s.quantity}}</strong> <span ng-if="$index+1!=item.items.length"><hr  style=" margin:5px 0; border-top: 1px solid #cacaca;"/></span></li>
														
													</ul>
												</td>
												<td align="center"><a href="#adshipidwiselist?adshipid={{item.Shipmentid}}">{{item.Itemcount}}</a></td>
												<td>
													{{item.CourierName}}<br />
													<div class="input-group input-group-sm" ng-show="item.CurPickId==null">
														<input type="text" ng-model="item.curid" class="form-control">
														<span class="input-group-btn">
															<button class="btn btn-info btn-flat" type="button" ng-click="updatecrid(item)"><i class="fa fa-send"></i></button>
														</span>
													</div>
													<span ng-hide="item.CurPickId==''">{{item.CurPickId}}</span><br />
													<strong ng-show="item.Status == '1'" class="text-success">{{item.recieverName}}</strong>
													<strong ng-show="item.Status == '0' && item.CurPickId==null">Shipped</strong>
													<strong ng-show="item.Status == '0' && item.CurPickId!=null" class="text-warning">In Transit</strong>
												</td>
												
												<td class="hidden-print">
													<button class="btn btn-primary btn-sm" ng-click="printdiv(item.Branch, item.senderCampusId, item.Shipmentid, item.CourierName)" ng-show="item.Status == '0'"><i class="fa fa-print"></i></button>
													<button class="btn btn-primary btn-sm" ng-click="voucherprint(item.Shipmentid, 'Received')" ng-show="item.Status == '1'"><i class="fa fa-print"></i></button>
												</td>
												<td class="hidden-print" ng-show="item.Status == 0">
													<button class="btn btn-default" data-toggle="modal" data-target="#sendsms" ng-click="shipsmsclick(item)"> Re-Send</button>
												</td>
											  </tr>
											</tbody>
										  </table>
									
									
									<div style="clear:both"></div>
                                </div><!-- /.box-body -->
							</div>	
								<div ng-if="printMode==true">
									<a href="" ng-click="backtotrack()" class="btn btn-default pull-right  hidden-print"><i class="fa fa-angle-double-left"></i> Back</a>
									<table style="margin-bottom:30px; width:100%;" height="340">
										<tr>
											<td valign="top"> 
												<div style="float: right;">
													<h2><strong>To</strong></h2>
													<h4>{{todetail[0].instname}} <br />{{todetail[0].campusAddress}} <br /> {{todetail[0].campusCity}} <br /> Contact Number : {{tonumber[0].userPhone}}</h4>
												</div>
											</td>
										</tr>
										<tr>	
											<td valign="bottom">
												 <h2><strong>From</strong></h2>
												 <h4>
													<span ng-if="fromadress[0].id==73">ITDIVISION</span> 
														<span ng-if="fromadress[0].id!=73">{{fromadress[0].instname}}</span>
														 <br />{{fromadress[0].campusAddress}} <br /> {{fromadress[0].campusCity}} <br /> Contact Number : {{userdata[0].userphone}}</h4>
											</td>
										</tr>
									</table>
									<br />
									<br />
									<br />
									<br />
									<h4><strong>To</strong></h4>
									<p>{{todetail[0].instname}}, {{todetail[0].campusAddress}},  {{todetail[0].campusCity}}, Contact Number : {{tonumber[0].userPhone}}</p>
									<h4><strong>From</strong></h4>
									<p><span ng-if="fromadress[0].id==73">ITDIVISION</span> 
										<span ng-if="fromadress[0].id!=73">{{fromadress[0].instname}}</span>, {{fromadress[0].campusAddress}},  {{fromadress[0].campusCity}}, Contact Number : {{userdata[0].userphone}}</p>	
									<!-- <h4><b>Shipment Id : </b>{{shipmentid}}</h4>		 -->
									<table class="table table-bordered">
											<thead>
												<tr>
													<th colspan="5">{{examdatechange(adidwiselist[0].currentdate) | date : 'dd-MM-y'}} <span style="float: right;">#{{shipmentid}}</span></th>
												</tr>
											  <tr>
												<th>#</th>
												<th>Item Group</th>
												<th>Item Name</th>
												<th>Qunatity</th>
											  </tr>
											</thead>
											<tbody>
											  <tr ng-repeat="item in adidwiselist">
												<td>{{$index+1}}</td>
												<td>{{item.itemgroup}}</td>
												<td>{{item.itemname}}</td>
												<td>{{item.quantity}}</td>
											  </tr>
											</tbody>
										  </table>
										  <br />
										  <div  class="visible-print">
										  	<h4>Courier Pickup By : {{couriername}}.</h4>
								</div>

                            </div>
		

                </section>
            </aside>
			<div class="modal fade" id="sendsms" role="dialog">
				<div class="modal-dialog">
				
				  <!-- Modal content-->
				  <div class="modal-content">
					<div class="modal-header">
					  <button type="button" class="close" data-dismiss="modal">&times;</button>
					  <h4 class="modal-title">Re-send SMS</h4>
					</div>
					<div class="modal-body">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>S.No</th>
									<th>Name</th>
									<th>E-mail</th>
									<th>Phone</th>
									<th>Designation</th>
								</tr>	
							</thead>
							<tbody>
								<tr ng-repeat="x in receiversdata">
									<td>{{$index+1}}</td>
									<td>{{x.name}}</td>
									<td>{{x.email}}</td>
									<td>{{x.phoneNo}}</td>
									<td>{{x.designation}}</td>
								</tr>	
							</tbody>
						</table>
					  <form ng-submit="re_send_sms(user)" method="post" name="frmDefault">
						<div class="form-group">
							<label>Reciever Name</label>
							<input type="text" ng-model="user.recieverName" class="form-control" />
						</div>
						<div class="form-group">
							<label>Reciever MobileNo</label>
							<input type="number" ng-model="user.recieverMobile" class="form-control" />
						</div>
						<div class="form-group">
							<label>Reciever Designation</label>
							<input type="text" ng-model="user.recieverDesignation" class="form-control" />
						</div>
						<div class="footer">                                                               
							<button type="submit" class="btn bg-olive btn-block">Submit</button>  
						</div>
					</form>
					</div>
					
				  </div>
				  
				</div>
			  </div>	
				  
	</div><!-- ./wrapper -->
	
