
    <div ng-app="stock" ng-controller="itemsbasedongroup">
        <!-- header logo: style can be found in header.less -->

        <aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        Item Update
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="active">Item Update</li>
                    </ol>
                </section>
        
			

                <!-- Main content -->
                <section class="content">
					
							
                <div class="box box-primary" ng-init="GetItemDetails()">
                
                    
                    <div class="box-body">
                        <div class="row" ng-hide="userdata[0].usertype==3">
                            <div class="col-md-8 form-group">
                                <img src="img/infofile.jpg" />
                            </div>
                            <div class="col-md-4 form-group">
                                <p>To upload System Configuration Download and extract index-win.zip file, Run the file in every system  and enter <b>uno</b> number in the textbox below.</p>
                                <a href="https://analysis.aditya.ac.in/itinfra/uploads/index.zip" class="btn btn-primary">Download</a> &nbsp; 
                                <!--<a href="http://b.aditya.ac.in/itinfra/uploads/index-win-64bit.zip" class="btn btn-primary">Download 64 bit</a> -->
                            </div>
                        </div>	
                        <div ng-show="showtk==1">
                            <div class="row">
                                <div class="col-md-3">
                                    <p>Item Group</p>
                                    <h4><b>{{iteminfo.ItemGroupName}}</b></h4>
                                </div>
                                <div class="col-md-3">
                                    <p>Item ItemName</p>
                                    <h4><b>{{iteminfo.ItemName}}</b></h4>
                                </div>
                                <div class="col-md-3">
                                    <p>Item Location</p>
                                    <h4><b>{{iteminfo.assetLocationGroup}}</b></h4>
                                </div>
                                <div class="col-md-3">
                                    <button class="btn btn-default pull-right" ng-click="showtk=0"><i class="fa fa-angle-double-left"></i> Back</button>
                                </div>
                            </div>
                            <form ng-submit="addTicket(iteminfo, tiket)" method="post" name="frmDefault">
                                <div class="form-group" ng-init="ticket.statustitle = 'OPEN'">
                                <label>Select Issue</label>
                                <select ng-model="ticket.statustitle" class="form-control" required>  
                                    <option value="">Select</option>  
                                    <option ng-repeat="x in tiketstatus" value="{{x.statustitle}}">{{x.statustitle}}</option>  
                                </select>
                            </div> 
                            <div class="form-group">
                                <label>Description</label>
                                <textarea ng-model="tiket.description" class="form-control" rows="4" required></textarea>
                            </div> 
                            <div class="footer">                                                               
                                <button type="submit" class="btn bg-olive btn-block">Submit</button>  
                            </div>
                        </form>
                        </div>
                        <div ng-show="showtk==0">
                            <div class="row">
                                <div class="col-md-3">
                                    <p>Item Group</p>
                                    <h4><b>{{qtyitemlist[0].ItemGroupName}}</b></h4>
                                </div>
                                <div class="col-md-3">
                                    <p>Item Location</p>
                                    <h4><b>{{qtyitemlist[0].ItemName}}</b></h4>
                                </div>
                                <div class="col-md-3">
                                    <p>Item Name</p>
                                    <h4><b>{{qtyitemlist[0].assetLocationGroup}}</b></h4>
                                </div>
                                <div class="col-md-3">
                                    <a href="" ng-click="doTheBack()" class="btn btn-default pull-right"><i class="fa fa-angle-double-left"></i> Stock list</a>
                                </div>
                            </div>
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <!-- <th>AssetId</th> -->
                                        <th>UNO</th>
                                        <th>MAC Id</th>
                                        <th>Serial No</th>
                                        <th>View</th>
                                        <th class="text-center" ng-hide="userdata[0].usertype==2">Ticket</th>
                                    </tr>	
                                </thead>
                                <tbody>
                                    <tr ng-repeat="x in qtyitemlist">
                                        <td>{{$index+1}}</td>
                                        <!-- <td>{{x.assetid}}</td> -->
                                        <td>{{x.unoNumber}}</td>
                                        <td>{{x.macId}}</td>
                                        <td>{{x.serialNo}}</td>
                                        <td><a href="#updatestock?assetid={{x.assetId}}" class="btn btn-primary btn-sm">Update</a></td>
                                        <td class="text-center" ng-hide="userdata[0].usertype==2">
                                            <span ng-show="x.assetTicketStatus!='CLOSE'"><a href="#getticketinfousingno?ticketno={{x.lastTicketNumber}}" style="text-align: center;">{{x.assetTicketStatus}}</a></span>
                                            <span ng-show="x.assetTicketStatus=='CLOSE'"><a href="" ng-click="raiseTicket(x, $index+1)" style="font-size: 20px; text-align: center;"><i class="fa fa-ticket"></i></a></span>
                                        </td>
                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        	
                        
                        
                    </div>
                </div>
		

            </section>
      </aside>     
        <!-- add new calendar event modal -->


	<div class="modal fade" id="addTicket" role="dialog">
		<div class="modal-dialog">
		
			<!-- Modal content-->
			<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Raise Ticket</h4>
			</div>
			<div class="modal-body">
				<form ng-submit="addTicket(iteminfo, tiket)" method="post" name="frmDefault">
					<div class="form-group" ng-init="tiket.statusTitle = 'OPEN'">
					<label>Select Issue</label>
					<select ng-model="ticket.statustitle" class="form-control" required>  
						<option value="">Select</option>  
						<option ng-repeat="x in tiketstatus" value="{{x.statustitle}}">{{x.statustitle}}</option>  
					</select>
				</div> 
				<div class="form-group">
					<label>Description</label>
					<textarea ng-model="tiket.description" class="form-control" rows="4"></textarea>
				</div> 
				<div class="footer">                                                               
					<button type="submit" class="btn bg-olive btn-block">Submit</button>  
				</div>
			</form>
			</div>
			
			</div>
			
		</div>
	</div>





    </div>
